
        <!-- Recipes will be dynamically added here -->
    <h1>Recipe Dashboard</h1>
    <div id="recipeList">
        {{#each recipes}}
        <div>
            <h2>{{recipeTitle}}</h2>
            <p>{{ingredients}}</p>
            <p>{{instructions}}</p>
            <p>{{postedBy}}</p>

        </div>
        {{/each}}


    <!-- Handlebars Template -->
