<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Dashboard</title>
</head>

<body>
    <nav>
        {{!-- {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}} --}}
    </nav>
    <h1>Recipe Dashboard</h1>
    <div id="recipeList">
        <!-- Recipes will be dynamically added here -->
    </div>

    <!-- Handlebars Template -->
    <script id="recipe-template" type="text/x-handlebars-template">
        {{#each recipe}}
        <div class="recipe">
            <h2>{{recipeTitle}}</h2>
            <p>{{ingredients}}</p>
            <p>{{instructions}}</p>

        </div>
        {{/each}}
    </script>

</body>

</html>