<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/jazz.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="p-5">
        <nav class ="mx-2">
            <a href="/" class="px-3" >Home</a>
            <a href="/dashboard" class="px-3">Dashboard</a>
            <!-- {{#if loggedIn}}
            <button id="logout" class="btn-no-style">Logout</button>
            {{else}} -->
            <a href="/login" class="px-3" >Login</a>
            <!-- {{/if}} -->
        </nav>
        <h1 class="m-2 p-3">The Tech Blog</h1>
    </header>
    <main>
        <!-- <main class="container container-fluid mt-5"> -->
        <!-- {{{body}}} -->
        <div class="m-0 p-5 ">
            <div class="blog-post m-5">
                <header class="w-100 pb-0 pt-2 px-5 blog-header">
                    <p class="in-line">Title of Sample Blog</p>
                    <p class="in-line">Posted by BlogHost on 2/11/2024</p>
                    <!-- <div class="blog card"> -->
                        
                    <!-- </div> -->        
                </header>
                <section class="m-0 p-3">
                    <p>You will find all blogs to date below. If you log in you can add or modify your own blog post. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum delectus, magni ut odit reiciendis eius, voluptatem id nobis accusantium alias, quaerat voluptates architecto iusto sapiente. Cum veritatis eaque eveniet ipsum.</p>
                </section>
            </div>
            <div class="blog-post m-5">
                <header class="w-100 pb-0 pt-2 px-5 blog-header">
                    <p class="in-line">Title of Sample Blog</p>
                    <p class="in-line">Posted by BlogHost on 2/11/2024</p>
                    <!-- <div class="blog card"> -->
                        
                    <!-- </div> -->        
                </header>
                <section class="m-0 p-3">
                    <p>You will find all blogs to date below. If you log in you can add or modify your own blog post. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum delectus, magni ut odit reiciendis eius, voluptatem id nobis accusantium alias, quaerat voluptates architecto iusto sapiente. Cum veritatis eaque eveniet ipsum.</p>
                </section>
            </div>
        </div>
            
    </main>
      <!-- {{#if loggedIn}}
      <script src="/js/logout.js"></script>
      {{/if}} -->
    <script src="/js/login.js"></script>
    
</body>
</html>