<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Mama</title>

    <!-- cdn nes.css minify version and google fonts PressStart2P font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>RECIPE MAMA</h1>
    </header>
    <main>
      <form>
        <div
          style="background-color: #212529; padding: 1rem"
          class="nes-field is-inline narrowBox"
        >
          <!-- <label for="dark_field" style="color:#fff;">.input.is-dark</label> -->
          <input
            type="text"
            name="userName"
            id="userName"
            class="nes-input is-dark"
            placeholder="Input your userName"
          />
        </div>
        <div
          style="background-color: #212529; padding: 1rem"
          class="nes-field is-inline narrowBox"
        >
          <!-- <label for="dark_field" style="color:#fff;">.input.is-dark</label> -->
          <input
            type="text"
            name="userPassword"
            id="userPassword"
            class="nes-input is-dark"
            placeholder="Input your password"
          />
        </div>
        <div class="btnContainer">
          <button class="nes-btn" id="logInBtn">🍄 Log in</button>
          <span> OR </span>
          <button class="nes-btn" id="signUpBtn">📝 Sign up</button>
        </div>
      </form>
    </main>

    <!-- {{#if loggedIn}}
      <script src="/js/logout.js"></script>
      {{/if}} -->

       <!-- type="text/javascript"  -->
    <script type="application/javascript" src="../public/js/login.js"></script>
  </body>
</html>
