body {
  font-family: 'Press Start 2P' Helvetica, Verdana, sans-serif;
  background-color: #aeaeae;
}

header {
    margin-top: 100px;
    background-color: #aeaeae;
    color: #212529;
  }
  h1 {
    text-align: center;
    font-size: 50px;
  }

  main {
   font-size: 12px;
  }
  
  .narrowBox {
    width: 30%;
    margin: 30px auto ;
  }
  .btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* width: 30%; */
  }

  .nes-btn {
    margin: 0 20;
  }
  span {
    padding: 10px;
  }

  
